<p>Courses: Data Structures and Algorithms, Operating Systems, Programming Languages, Computer Organization and Architecture, Social Media Data Science Pipeline, Computer Security, Artificial Intelligence, Machine Learning</p>
<p>Programming Languages: Python, C, Java</p>
<p>Front-end skills: HTML5, CSS, JavaScript</p>
<p>Database: PL/SQL, PostgreSQL, MongoDB</p>
<p>Software/Tools: MATLAB, Tableau, Docker, Kubernetes, AWS, IntelliJ IDEA, Git, Confluence, Jenkins, CI/CD, Agile</p>
<p>Python Tech: Pandas, NumPy, OpenCV, TensorFlow, PyTorch, NLTK, OS, Matplotlib, Scikit-Learn, Keras</p>